@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	@apply font-segoe;
}

/* Custom styles for chat component */
.message.sent {
	@apply bg-blue-100 text-blue-900 self-end;
}

.message.received {
	@apply bg-gray-100 text-gray-900 self-start;
}

.message {
	@apply mb-4 p-4 border rounded-lg w-full;
}

.d-flex {
	@apply flex;
}

.form-control {
	@apply p-2 border border-gray-300 rounded w-full;
}

.btn-secondary {
	@apply ml-2 p-2 bg-gray-700 text-white rounded;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
